<%- include('./partials/head') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiaco</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<style>
</style>
  <body>

    <div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="container">
                <div class="card-body p-md-5 mx-md-4">

                  <h1
                    style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center;">"Formulario Zodiaco"</h1>

               
                  <h5
                    style="text-align: center; font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center; size: 30px;">
       
                    <form id="myForm" action="/submit" method="POST" class="mt-4 needs-validation" novalidate>
                      <div class="row">
                     
                        
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="birthDate" for="validationCustom04" class="form-label"> Elige tu signo verdadero </label>
                            <select id="zodiaco" name="zodiaco" class="form-select" required>
                              <option selected disabled value="">Selecciona una opción</option>
                              <option value="aries">Aries: del 21 de marzo al 19 de abril</option>
                              <option value="tauro">Tauro: del 20 de abril al 20 de mayo</option>
                              <option value="geminis">Géminis: del 21 de mayo al 20 de junio</option>
                              <option value="cancer">Cáncer: del 21 de junio al 22 de julio</option>
                              <option value="leo">Leo: del 23 de julio al 22 de agosto</option>
                              <option value="virgo">Virgo: del 23 de agosto al 22 de septiembre</option>
                              <option value="libra">Libra: del 23 de septiembre al 22 de octubre</option>
                              <option value="escorpio">Escorpio: del 23 de octubre al 21 de noviembre</option>
                              <option value="sagitaro">Sagitario: del 22 de noviembre al 21 de diciembre</option>                   
                              <option value="capricornio">Capricornio: del 22 de diciembre al 19 de enero</option>
                              <option value="acuario">Acuario: del 20 de enero al 18 de febrero</option>
                              <option value="piscis">Piscis: del 19 de febrero al 20 de marzo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <p>Las respuestas tendran una connotacion </p>
                      <ol>
                        <li class="mb-3">
                          <label for="validationCustom04" id="Question 1" class="form-label">¿Te preocupas por los sentimientos y emociones de los demás?</label>
                          <select id="validationCustom04" name="answer1" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Sí, siempre me preocupo por cómo se sienten los demás y trato de ser comprensivo/a.</option>
                            <option value="0">No, no suelo preocuparme demasiado por los sentimientos de los demás.</option>                       
                          </select>

                        </li>
                        <li class="mb-3">
                          <label id="Question 2" class="form-label">¿Te resulta fácil ponerte en el lugar de otras personas y comprender sus perspectivas?</label>
                          <select name="answer2" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">  Sí, puedo ponerme en el lugar de los demás y comprender sus puntos de vista con facilidad.</option>
                            <option value="0">  No, me cuesta mucho entender las perspectivas de los demás y empatizar con ellos. </option>
                          
          
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 3" class="form-label">¿Te sientes emocionalmente afectado/a por las experiencias y situaciones que enfrentan otras personas?</label>
                          <select name="answer3" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1"> Sí, las experiencias de los demás me afectan emocionalmente y me preocupo por su bienestar. </option>
                            <option value="0"> No, las experiencias de los demás no me afectan emocionalmente y no me preocupo mucho por su bienestar. </option>
                            
                          </select>
                        </li>

                         <!--Honestidad -->
                        <li class="mb-3">
                          <label id="Question 4" class="form-label"> ¿Disfrutas encontrar soluciones originales a los problemas que enfrentas?</label>
                          <select name="answer4" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1"> Sí, me encanta buscar soluciones creativas e innovadoras a los problemas.</option>
                            <option value="0"> No, generalmente me siento más cómodo/a con soluciones convencionales y probadas.</option>
                          
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 5" class="form-label">¿Te sientes inspirado/a al expresar tu creatividad a través de diferentes formas de arte o expresión? </label>
                          <select name="answer5" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Sí, encuentro inspiración al expresar mi creatividad a través del arte y otras formas de expresión.</option>
                            <option value="0">No, no siento una fuerte conexión con el arte y la expresión creativa.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 6" class="form-label">¿Te resulta fácil pensar fuera de lo convencional y considerar enfoques poco comunes para resolver problemas?</label>
                          <select name="answer6" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Sí, me siento cómodo/a pensando de manera no convencional y considerando enfoques poco comunes.</option>
                            <option value="0"> No, tiendo a pensar de manera más tradicional y apegarme a soluciones conocidas.</option>
    
                          </select>
                        </li>
                  <!--Honestidad -->

                        <li class="mb-3">
                          <label id="Question 7" class="form-label">¿Consideras importante ser sincero/a contigo mismo/a y con los demás? </label>
                          <select name="answer7" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1"> Sí, creo que la honestidad es fundamental para establecer relaciones auténticas y para un crecimiento personal genuino.</option>
                            <option value="0"> No, no siempre veo la necesidad de ser completamente sincero/a conmigo mismo/a y con los demás.</option>
    
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 8" class="form-label"> ¿Te sientes cómodo/a compartiendo tus opiniones y sentimientos honestamente, incluso si pueden ser difíciles de expresar?</label>
                          <select name="answer8" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1"> Sí, me siento cómodo/a expresando mis opiniones y sentimientos honestamente, incluso si es difícil.</option>
                            <option value="0">No, a menudo me siento incómodo/a compartiendo mis pensamientos y emociones de manera honesta.</option>
                           
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 9" class="form-label"> ¿Crees que la honestidad es esencial para construir la confianza en tus relaciones con los demás? </label>
                          <select name="answer9" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">  Sí, creo que la honestidad es fundamental para construir y mantener la confianza en mis relaciones.</option>
                            <option value="0"> No, considero que la confianza puede construirse sin necesidad de ser completamente honesto/a en todo momento.</option>
    
                          </select>
                        </li>
                       <!--Independientes -->

                        <li class="mb-3">
                          <label id="Question 10" class="form-label">¿Prefieres tomar decisiones importantes por ti mismo/a o te sientes más cómodo/a consultando con otros?</label>
                          <select name="answer10" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1"> Sí, me siento más cómodo/a tomando decisiones importantes por mí mismo/a y confiando en mi juicio.</option>
                            <option value="0"> No, a menudo busco la opinión y el consejo de otros antes de tomar decisiones importantes. </option>
    
                          </select>

                        </li>
                        <li class="mb-3">
                          <label id="Question 11" class="form-label">¿Te sientes capaz de resolver problemas y enfrentar desafíos sin depender demasiado de la ayuda de los demás?</label>
                          <select name="answer11" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Sí, me considero independiente y confío en mis habilidades para resolver problemas por mi cuenta.</option>
                            <option value="0"> No, a menudo me siento más seguro/a buscando la ayuda y el apoyo de otros para enfrentar desafíos.</option>
       
                          </select>
                          
                        </li>
                        <li class="mb-3">
                          <label id="Question 12" class="form-label">¿Disfrutas de momentos de soledad y autonomía en lugar de depender constantemente de la compañía de otras personas?</label>
                          <select name="answer12" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Sí, valoro mi tiempo a solas y disfruto de la autonomía en diversas actividades.</option>
                            <option value="0"> No, me siento más cómodo/a y feliz cuando estoy rodeado/a de otras personas y compartiendo experiencias con ellos.</option>
       
                          </select>
                          
                        </li>

                      </ol>
                      <br>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                          Enviar
                        </button>
                      </div>
                      <div class="text-center">
                        <a href="/success/ACB1220100646" class="btn btn-primary">Ver resultados Globales</a>
                      </div>
                    </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  

  </body>

  </html>
  <script src="/js/index.js"></script>